<div class="container__big-card">

    <div class="photo__big-card">
        <img 
            src="{{photoCover}}"
            alt=""
            height="400px"
            srcset=""
        >
    </div>

    <div class="title__big-card">
        <h1><a [routerLink]="['content', id]">{{cardTitle}}</a></h1>
    </div>

    <div class="description__big-card">
        <p>
            <a [routerLink]="['content', id]">
                {{cardDescription}}
            </a>
        </p>
    </div>

</div>