<div class="container__big-card">

    <div class="photo__big-card">
        <img 
            src="https://miro.medium.com/v2/resize:fit:1400/1*qgo4_MwETtxdspEqt12sNA.png"
            alt=""

            
            srcset=""
        >
    </div>

    <div class="title__big-card">
        <h1><a href="#">Nova versão do Angular à vista!!!</a></h1>
    </div>

    <div class="description__big-card">
        <p>
            Praesent pharetra libero sed varius dapibus. Pellentesque convallis nulla quis pharetra auctor. Curabitur luctus purus eu dolor pulvinar egestas. Duis euismod at sem a egestas. Sed fermentum nulla non magna semper commodo. Fusce justo mauris, euismod ut egestas ac, aliquet at metus. Curabitur id eleifend libero, mollis vestibulum est.
        </p>
    </div>

</div>