<div class="container__small-card">

    <div class="container__small-card-content">

        <div class="photo__small-card">
            <img 
                src="https://scontent.fpll3-2.fna.fbcdn.net/v/t39.30808-6/339439076_236316875622245_5552610538424264253_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=DIDY0vvQOpQAX-My1NB&_nc_ht=scontent.fpll3-2.fna&oh=00_AfBL_FzvyeiA1tEm62pWpz3l5SCMzcg7aDohRLCyxZxR8w&oe=6471B613"
                alt=""
                srcset=""
            >
        </div>
    
        <div class="title__small-card">
            <h1><a href="">Equipe de corredores 'Amigos do Coelho' nas pistas</a></h1>
        </div>    

    </div>

    <div class="container___separator__small-card">
        <hr>
    </div>
    
</div>