<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles__container">
    <div class="art__main">
        <app-big-card 
            photoCover="https://miro.medium.com/v2/resize:fit:1400/1*qgo4_MwETtxdspEqt12sNA.png"
            cardTitle="NOVA VERSÃO DO ANGULAR ANUNCIADO!!!"
            cardDescription="sdkvhsiudgbnsdkfjbvadsygvdsbvdsyvbadsjhbvajhdsdfjgbs ibehbvdhsjbvjhsdbvhjsdbvhjdsbvdhjsvbhja dsbvhjdsbvjdsbvjdsvsjkdfbvsjbvh jkdasvkabahsgchjvhjagvhadsgjvbvhjsgd jhvbdsjvbsadjbvsdbvjhsdvbjabjkvbad"
        ></app-big-card>
    </div>
    <div class="art__others">
        <app-small-card
            photoCover="https://scontent.fpll3-2.fna.fbcdn.net/v/t39.30808-6/339439076_236316875622245_5552610538424264253_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=DIDY0vvQOpQAX-My1NB&_nc_ht=scontent.fpll3-2.fna&oh=00_AfBL_FzvyeiA1tEm62pWpz3l5SCMzcg7aDohRLCyxZxR8w&oe=6471B613"
            cardTitle="Equipe de corredores 'Amigos do Coelho' nas pistas"
        ></app-small-card>
        
        <app-small-card
            photoCover="https://scontent.fpll3-2.fna.fbcdn.net/v/t39.30808-6/339439076_236316875622245_5552610538424264253_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=DIDY0vvQOpQAX-My1NB&_nc_ht=scontent.fpll3-2.fna&oh=00_AfBL_FzvyeiA1tEm62pWpz3l5SCMzcg7aDohRLCyxZxR8w&oe=6471B613"
            cardTitle="Equipe de corredores 'Amigos do Coelho' nas pistas"
        ></app-small-card>

        <app-small-card
            photoCover="https://scontent.fpll3-2.fna.fbcdn.net/v/t39.30808-6/339439076_236316875622245_5552610538424264253_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=DIDY0vvQOpQAX-My1NB&_nc_ht=scontent.fpll3-2.fna&oh=00_AfBL_FzvyeiA1tEm62pWpz3l5SCMzcg7aDohRLCyxZxR8w&oe=6471B613"
            cardTitle="Equipe de corredores 'Amigos do Coelho' nas pistas"
        ></app-small-card>
    </div>
</div>
