
<app-menu-title></app-menu-title>

<div class="articles__container">
    <div class="art__main">
        <app-big-card 
            id="BigCard"
            photoCover="https://scontent.fpll3-2.fna.fbcdn.net/v/t39.30808-6/349139474_3395940890619972_810771506513451296_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGXt27jwCvrXFNmaAkpF2Np_8j6jflII9j_yPqN-Ugj2E8HyvHBL0i_ptr_kx6OHyE&_nc_ohc=Sv_-O6BENbcAX9eI5zB&_nc_ht=scontent.fpll3-2.fna&oh=00_AfBJoKh-WmPOmehcf-syrOKiJc94VMwJf9YtEN6D-SnTWw&oe=64736D2C"
            cardTitle="Equipe de corredores 'Amigos do Coelho' nas pistas #NinguémFicaParaTrás"
            cardDescription="Somos a Equipe de corrida Amigos do Coelho, buscamos bem estar e qualidade de vida através da corrida de rua. Fundação Nov. 2019 Manaus-Am 🏃🏃🏻‍♀️⚖️🎯"
        ></app-big-card>
    </div>
    <div class="art__others">
        <app-small-card
            id="1"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYe31cVHUX0N_EPKJwFGXwzgHT_-Mzr-t-S6Jr9kpfIqFuuzlVAylXLopODladmC8k3zY&usqp=CAU"
            cardTitle="CONHEÇA A AGCORAM"
        ></app-small-card>
        
        <app-small-card
            id="2"
            photoCover="https://cdn.ticketagora.com.br/ticketagora/images/thumb/33KTWCHZM2XFG7N4ZPUK6J1K3W3057200G2EVLYRE6LL183B0Z.png"
            cardTitle="Preparare-se para esse grande evento!!!"
        ></app-small-card>

        <app-small-card
            id="3"
            photoCover="https://yt3.googleusercontent.com/ytc/AGIKgqNfsKSSVO4xqqkouW9kUHGSnZgXVEr34aPRgGCJ=s176-c-k-c0x00ffffff-no-rj-mo"
            cardTitle="Fique por dentro de todas as corridas oficiais da cidade"
        ></app-small-card>
    </div>
</div>
